/* INPUT  */
.input-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .input-body {
    display: flex;
    flex-direction: column;
  }
  .input-title {
    color: #333;
    font-size: 1rem;
    position: relative;
    margin: 0 1rem 0.5rem 0;
  }
  .input-required-sign {
    color: red;
    position: absolute;
  }
  .input-field {
    outline: none;
    padding-right: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.75rem;
    height: 46px;
  }
  .input-textarea-field {
    outline: none;
    padding-right: 0.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.75rem;
    height: 112px;
    resize: none;
    padding: 1rem;
  }
  .input-hint-text {
    font-size: 0.875rem;
    color: #646464;
    height: max-content;
    padding: 0.25rem 1rem 0;
  }
  
  /* input string  */
  .input-add-string-box {
    outline: none;
    padding-right: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    height: 56px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .input-add-string {
    border-radius: 1rem;
    background-color: #fbfbfb;
    padding: 0.25rem 1rem;
    display: flex;
    align-items: center;
    margin-left: 0.25rem;
  }
  .input-add-clear {
    margin-right: 0.5rem;
    width: 0.6rem;
    cursor: pointer;
  }
  
  .input-add-value {
  }
  .input-add-string-field {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
  }
  
  .search-result-box,
  .typing-search-result-box {
    padding: 0.5rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 0.5rem 0.5rem;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    right: 0;
    max-height: 120px;
    overflow-y: scroll;
  }
  .typing-search-result-box {
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-result-item {
    font-size: 0.9rem;
    padding: 0.25rem;
    color: #646464;
  }
  .input-add-string-title {
    font-family: "iranSansB";
    font-size: 18px;
    position: relative;
  }
  
  .add-member-btn {
    display: flex;
    align-items: center;
  }
  .add-member-img {
    width: 1.5rem;
  }
  .add-member-text {
    font-family: "iranSansB";
  }
  .input-error-text {
    font-size: 0.875rem;
    color: #f00;
    height: max-content;
    min-height: 25px;
    padding: 0.25rem 1rem 0;
    display: block;
  }
  .border-error {
    border-color: #f00;
  }
  .input-title-editable {
    position: relative;
  }
  .input-editable {
    width: 100%;
    border: none;
    margin-bottom: 0.5rem;
    outline: none;
    padding-right: 1rem;
  }

  
/* BUTTONS */
.idea-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.idea-submit-btn:hover {
  opacity: 0.6;
  transition: 0.2s linear;
  background-color: #ECBD00 ;
  transition: 0.2s ;
  
}




/* SELECT FILE  */
.select-file-box {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.select-file-field {
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  height: 56px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select-file-name-size{

}
.select-file-size {
  font-size: 0.8rem;
  margin-left: 0.25rem;
}
.clear-file-img {
  width: 1rem;
}
.select-file-left {
  display: flex;
  align-items: center;
}
.hidden{
  display: none;
}
.pointer {
  cursor: pointer;
}
.clear-file-img {
  width: 1rem;
}

/* LOADING  */

.loader {
  border: 3px solid #fff;
  border-radius: 50%;
  border-top: 3px solid #000;
  width: 35px;
  height: 35px;
  animation: spin 0.4s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.typing-loader,
.typing-loader:before,
.typing-loader:after {
  background: #000000;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 0.8em;
  height: 1em;
}
.typing-loader {
  color: #000000;
  text-indent: -9999em;
  margin: 30px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.typing-loader:before,
.typing-loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.typing-loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.typing-loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 1em;
  }
  40% {
    box-shadow: 0 -1em;
    height: 1.2em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 1em;
  }
  40% {
    box-shadow: 0 -1em;
    height: 1.2em;
  }
}

